   <a href="https://getbootstrap.com/docs/5.3/components/card/"> <div class="card one-post">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in </footer>
          </blockquote>
        </div>
      </div></a>