     <div class='card text-bg-secondary mb-3'>
            <div class='card-header'>Nelson Foster</div>
            <div class='card-body'>
              <p class='card-text'>
                Some quick example text to build on the card title and make up the bulk of
                the card's content.
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success me-md-2" type="button">Edit Comment</button>
                <button class="btn btn-success" type="button">delete comment</button>
              </div>
            </div>
          </div>