    <nav class="tablets">
        <ul class="nav justify-content-end nav-underline">
            <li class="nav-item">
              <a class="nav-link active text-success" href="#">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-success" href="#">Dash board</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-success" href="#">Logout</a>
            </li>
        </ul>
    </nav>
   <main class="remarks">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>

      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-secondary btn-lg save-remark">Save comment</button>
      </div>
   </main>