<nav class='tablets'>
  <ul class='nav justify-content-end nav-underline'>
    <li class='nav-item'>
      <a class='nav-link active text-success' href='/'>Homepage</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link active text-success' href='/dashboard'>Dash board</a>
    </li>
    <li class='nav-item'>
      <a
        class='nav-link active text-success'
        id='log-out-btn'
        href=''
      >Logout</a>
    </li>
  </ul>
</nav>
<main class='remarks'>
  <div class='form-floating'>
    <input
      class='form-control'
      placeholder='Leave a comment here'
      id="comment-text"
      style='height: 100px'
    >

  </div>
  <div class='d-grid gap-2 col-6 mx-auto'>
    <button type='button' id="submit-comment" class='btn btn-secondary btn-lg save-remark'>Save comment</button>
  </div>
</main>

<script src="/js/submit-comment.js"></script>
<script src='/js/logout.js'></script>