    <nav class="tablets">
        <ul class="nav justify-content-end nav-underline">
            <li class="nav-item">
              <a class="nav-link active text-success" href="/">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-success" id="log-out-btn" href="">Logout</a>
            </li>
        </ul>
    </nav>
    <main class="all-post">
{{#each posts as |post|}}
{{>dashboard-details}}
{{/each}}
    </main>

    <script src="/js/logout.js"></script>