    <main class="log-in">
        <h1 class="text-success"> Login</h1>
        <input class="form-control form-control-lg" type="text" placeholder="Email" >
        <input class="form-control form-control-lg" type="text" placeholder="Password" >
        <h1 class="text-success sign-up-marg"> Sign up</h1>
        <input class="form-control form-control-lg" type="text" placeholder="Email" >
        <input class="form-control form-control-lg" type="text" placeholder="User name" >
        <input class="form-control form-control-lg" type="text" placeholder="Password" >
        <input class="form-control form-control-lg" type="text" placeholder="Confirm Password" >
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-success" type="button">Login</button>
            <button class="btn btn-success" type="button">Sign up</button>
        </div>
    </main>
