    <nav class="tablets">
        <ul class="nav justify-content-end nav-underline">
          <li class="nav-item">
            <a class="nav-link active text-success" href="/">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-success " href="/dashboard">Dash board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-success" id="log-out-btn" href="">Logout</a>
          </li>
        </ul>
      </nav>
      <main class="all-post">
        <input type="text" class="form-control form-control-lg" id="log-in-email" type="text" placeholder="Post title" >
        <input type="text" class="form-control form-control-lg" id="log-in-pw" type="text" placeholder="Post body" >
      </main>
      <section class="com-sec">
          <div class="d-grid gap-2">
              <button class="btn btn-success" type="button">Submit post</button>
            </div>  
      </section>
      <section class="com-sec">
        {{!-- post deets --}}
      </section>

      <script src="/js/logout.js"></script>