    <nav class="tablets">
        <ul class="nav justify-content-end nav-underline">
          <li class="nav-item">
            <a class="nav-link active text-success" href="/">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-success " href="/dashboard">Dash board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-success" id="log-out-btn" href="">Logout</a>
          </li>
        </ul>
      </nav>
      <main class="all-post">
          <div class="card one-post">
            <div class="card-header">{{thePost.post_title}}</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>"{{thePost.post_text}}"</p>
                <footer class="blockquote-footer">{{thePost.user.username}}</footer>
              </blockquote>
            </div>
          </div>
      </main>
      <section class="com-sec">
          <div class="d-grid gap-2">
            {{#if thePost.isCreator}}
           <button class="btn btn-success" id="delete-post" type="button">Delete Post</button>
            {{/if}}
            <button class="btn btn-success" id="make-comment" type="button">Make comment</button>
            </div>  
      </section>
      <section class="com-sec">
        {{#each allComments as | comment| }}
        {{> post-details}}
        {{/each}}
      </section>


    <script src="/js/render-comment.js"></script>
      <script src="/js/logout.js"></script>