    <nav class="tablets">
        <ul class="nav justify-content-end nav-underline">
          <li class="nav-item">
            <a class="nav-link active text-success" href="#">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-success " href="#">Dash board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-success" href="#">Logout</a>
          </li>
        </ul>
      </nav>
      <main class="all-post">
          <div class="card one-post">
            <div class="card-header">Cool Beans Title</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>A well-known quote, contained in a blockquote element.</p>
                <footer class="blockquote-footer">Nelson Foster</footer>
              </blockquote>
            </div>
          </div>
      </main>
      <section class="com-sec">
          <div class="d-grid gap-2">
            <button class="btn btn-success" type="button">Delete post</button>
              <button class="btn btn-success" type="button">Make comment</button>
            </div>  
      </section>
      <section class="com-sec">
        {{!-- post deets --}}
      </section>